
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
  color: black;
  background-image: url(images/fixni_me.jpg), url(images/texture.jpg);
  background-position: top left, top left;
  background-repeat: no-repeat, repeat-y;
  background-size: 100%;
}

a {
  color: white;
}

input {
  -webkit-appearance: none;
  margin-bottom: 0.5em;
  width: 300px;
  padding:10px 15px;
  background: rgba(255, 255, 255, 0.5);
  border:0 none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1em;
  font-weight: inherit;
  font-family: inherit;
}

input:focus, button:focus {
  outline: none;
}

input[type=submit] {
  cursor:pointer;
  background: rgba(255, 255, 255, 0.8);
}

input[type=email] {
  text-align: center;
  width: 270px;
  background: rgba(255, 255, 255, 0.5);
}

::-webkit-input-placeholder {
  color: black;
}

:-moz-placeholder {
  color: black;
}

::-moz-placeholder {
  color: black;
}

:-ms-input-placeholder {
  color: black;
}

.bottom {
  position: absolute;
  width: 80%;
  left: 10%;
  bottom: 10%;
}

@media(max-width: 400px) {
  .bottom {
    top: 100px;
  }
  input {
    width: 80% !important;
  }
}

@media screen and (min-aspect-ratio: 16/9) {
  .bottom {
    bottom: 1em;
  }
}
